### Finding coordinates of from Replan 1 and Replan 2

###### In this project:
- First of all, we read two databases. 
- Then, merge both of them with indicator to see which common rows between two databses. 
- Then, individual "currentStopName" finds.
- The coordinations (latitude and longitude) of these individual "currentStopName"s are found. 
- Then it will be checked to see whether all the coordinations have been found in Switzerland.
- Afterwards, the coordidations of each city will be merged with the master file which is "indirectEffect" dataframe. 
- Finally, the number of repitition time count for each individual "currentStopName. 

###### To run the code, please follow the following steps:
- Click on "Kernel" in the menu bar
- Select "Restart & Run All" 
- Hold on untill a number assigns to each cell.

In [1]:
# library
import pandas as pd
import numpy as np
#import googlemaps
from geopy.geocoders import Nominatim

In [2]:
# the name of the app (no need to change)
geolocator = Nominatim(user_agent="defultName")

In [5]:
# read the replan.txt (read the first database and filter "T-2" from TriggerType column)
df1 = pd.read_csv("replan.txt",sep="\t", error_bad_lines=False, index_col =None)
df1 = df1[df1["triggerType"]=="T-2"]
df1.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit
2,0,1394529300,57600.0,16:0:0,T-2,"Zürich, Einfangstrasse",VBZ_line62,15661_080,NFB_VBZ_140751,"Zürich, Zehntenhausplatz",1,1
3,0,1152035700,57600.0,16:0:0,T-2,"Zürich, Klusplatz",VBZ_line703,23724_001,NFB_VBZ_142004,"Zürich, Carl-Spitteler-Strasse",1,1
4,0,1016616800,57600.0,16:0:0,T-2,"Mellingen Heitersberg, Bahnhof",PAG_line362,36202_038,BUS_PAG_95481,"Mellingen, Meierhofer",1,1
5,0,1613689101,57600.0,16:0:0,T-2,"Zürich, Lerchenhalde",VBZ_line80,06342_167,NFB_VBZ_138485,"Zürich, Schumacherweg",1,1
6,0,919327800,57606.0,16:0:6,T-2,"Zürich, Klusplatz",VBZ_line33,00881_001,NFB_VBZ_137778,"Zürich, Hölderlinsteig",1,1

In [6]:
# read the replan.nodisruption.txt (Read the second databae)
df2 = pd.read_csv("replan.nodisruption.txt",sep="\t", error_bad_lines=False, index_col =None)
df2.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit
0,0,1394529300,57600.0,16:0:0,T-2,"Zürich, Einfangstrasse",VBZ_line62,15661_080,NFB_VBZ_140751,"Zürich, Zehntenhausplatz",1,1
1,0,1152035700,57600.0,16:0:0,T-2,"Zürich, Klusplatz",VBZ_line703,23724_001,NFB_VBZ_142004,"Zürich, Carl-Spitteler-Strasse",1,1
2,0,1613689101,57600.0,16:0:0,T-2,"Zürich, Lerchenhalde",VBZ_line80,06342_167,NFB_VBZ_138485,"Zürich, Schumacherweg",1,1
3,0,1016616800,57600.0,16:0:0,T-2,"Mellingen Heitersberg, Bahnhof",PAG_line362,36202_038,BUS_PAG_95481,"Mellingen, Meierhofer",1,1
4,0,919327800,57606.0,16:0:6,T-2,"Zürich, Klusplatz",VBZ_line33,00881_001,NFB_VBZ_137778,"Zürich, Hölderlinsteig",1,1

In [8]:
# merged the two database with indicators demoestrating which row belongs to which database
df3 = pd.merge(df1,df2, how='outer', indicator=True)
df3.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
0,0,1394529300,57600.0,16:0:0,T-2,"Zürich, Einfangstrasse",VBZ_line62,15661_080,NFB_VBZ_140751,"Zürich, Zehntenhausplatz",1,1,both
1,0,1152035700,57600.0,16:0:0,T-2,"Zürich, Klusplatz",VBZ_line703,23724_001,NFB_VBZ_142004,"Zürich, Carl-Spitteler-Strasse",1,1,both
2,0,1016616800,57600.0,16:0:0,T-2,"Mellingen Heitersberg, Bahnhof",PAG_line362,36202_038,BUS_PAG_95481,"Mellingen, Meierhofer",1,1,both
3,0,1613689101,57600.0,16:0:0,T-2,"Zürich, Lerchenhalde",VBZ_line80,06342_167,NFB_VBZ_138485,"Zürich, Schumacherweg",1,1,both
4,0,919327800,57606.0,16:0:6,T-2,"Zürich, Klusplatz",VBZ_line33,00881_001,NFB_VBZ_137778,"Zürich, Hölderlinsteig",1,1,both

In [10]:
# Filter the merged databse into two database, indirecedEffect and Tocheck databases.
df_indirectEffect = df3[df3["_merge"]=="left_only"]
df_indirectEffect.to_excel("indirectEffect.xlsx")
df_indirectEffect.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
23,0,1557445300,57852.0,16:4:12,T-2,Zürich Oerlikon,SBB_S6_8503105-8503504,18622_003,S_SBB_04321,Zürich Seebach,1,30,left_only
85,0,1248398200,58667.0,16:17:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8506000,20420_001,S_SBB_05050,Zürich Flughafen,0,30,left_only
121,0,1119003800,59168.0,16:26:8,T-2,"Zürich, Grünwald",VBG_line485,03952_089,NFB_VBG_69665,"Regensdorf, Lettenhau",1,1,left_only
130,0,1119003800,59280.0,16:28:0,T-2,"Zürich, Grünwald",VBG_line485,03952_089,NFB_VBG_69665,"Regensdorf, Lettenhau",1,1,left_only
193,0,775420400,59799.0,16:36:39,T-2,Zürich HB,SBB_S7_8503110-8506000,18719_001,S_SBB_04400,Zürich Stadelhofen,0,30,left_only

In [34]:
len(df_indirectEffect)

149

In [11]:
# Filter the merged databse into two database, indirecedEffect and Tocheck databases.
df_to_check = df3[df3["_merge"]=="right_only"]
df_to_check.to_excel("to_check.xlsx")
df_to_check.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
1570,0,767947300,60073.0,16:41:13,T-2,"Adlikon b. R., Pächterried",VBG_line485,03952_089,NFB_VBG_69665,"Adlikon b. R., Dorf",1,1,right_only
1571,0,767947300,60120.0,16:42:0,T-2,"Adlikon b. R., Pächterried",VBG_line485,03952_089,NFB_VBG_69665,"Adlikon b. R., Dorf",1,1,right_only
1572,0,1374678600,60180.0,16:43:0,T-2,"Zürich, Albisriederplatz",VBZ_line72,04444_001,NFB_VBZ_138727,"Zürich, Friedhof Sihlfeld",1,1,right_only
1573,0,1374678600,60492.0,16:48:12,T-2,"Zürich, Albisriederplatz",VBZ_line72,04444_001,NFB_VBZ_138726,"Zürich, Friedhof Sihlfeld",1,1,right_only
1574,0,1374678600,60600.0,16:50:0,T-2,"Zürich, Albisriederplatz",VBZ_line72,04444_001,NFB_VBZ_138726,"Zürich, Friedhof Sihlfeld",1,1,right_only

In [35]:
len(df_to_check)

112

In [13]:
df_indirectEffect_no_duplication = df_indirectEffect.drop_duplicates(keep="first").reset_index(drop=True)
print ("the length of the city_df is {}".format(len(df_indirectEffect_no_duplication)))
df_indirectEffect_no_duplication.head()

the length of the city_df is 123

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
0,0,1557445300,57852.0,16:4:12,T-2,Zürich Oerlikon,SBB_S6_8503105-8503504,18622_003,S_SBB_04321,Zürich Seebach,1,30,left_only
1,0,1248398200,58667.0,16:17:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8506000,20420_001,S_SBB_05050,Zürich Flughafen,0,30,left_only
2,0,1119003800,59168.0,16:26:8,T-2,"Zürich, Grünwald",VBG_line485,03952_089,NFB_VBG_69665,"Regensdorf, Lettenhau",1,1,left_only
3,0,1119003800,59280.0,16:28:0,T-2,"Zürich, Grünwald",VBG_line485,03952_089,NFB_VBG_69665,"Regensdorf, Lettenhau",1,1,left_only
4,0,775420400,59799.0,16:36:39,T-2,Zürich HB,SBB_S7_8503110-8506000,18719_001,S_SBB_04400,Zürich Stadelhofen,0,30,left_only

In [15]:
# find the indivisual "currentStopName" and remove the repitition
city_list = list(set(df_indirectEffect_no_duplication["currentStopName"].to_list()))
city_df = pd.DataFrame(city_list, columns =['currentStopName'])
print ("the length of the city_df is {}".format(len(city_df)))
city_df.head()

the length of the city_df is 22

          currentStopName
0      Kloten, Kirchgasse
1        Zürich, Grünwald
2         Zürich, Altried
3  Zürich, Geeringstrasse
4      Opfikon, Austrasse

In [16]:
%%time
# expand the city_df dataframe by finding the coordination of each "currentStopName"
city_df["latitude"] = None
city_df["longitude"] = None

for idx in range(len(city_df)):
    try:
        address = city_df["currentStopName"][idx] 
        location = geolocator.geocode(address, addressdetails=True)
        city_df.at[idx, "latitude"] = location.raw["lat"]
        city_df.at[idx, "longitude"] = location.raw["lon"]
    except:
        address = city_df["currentStopName"][idx].split(", ")[0] + ", switzerland"
        try:
            location = geolocator.geocode(address, addressdetails=True)
            city_df.at[idx, "latitude"] = location.raw["lat"]
            city_df.at[idx, "longitude"] = location.raw["lon"]
        except:
            address = city_df["currentStopName"][idx].split(", ")[0] + ", ch"
            try:
                location = geolocator.geocode(address, addressdetails=True)
                city_df.at[idx, "latitude"] = location.raw["lat"]
                city_df.at[idx, "longitude"] = location.raw["lon"]
            except:
                pass         
    finally:
        print ("% " + str(idx/len(city_df) * 100))
print ("the length of the city_df is {}".format(len(city_df)))
city_df.head()

% 0.0
% 4.545454545454546
% 9.090909090909092
% 13.636363636363635
% 18.181818181818183
% 22.727272727272727
% 27.27272727272727
% 31.818181818181817
% 36.36363636363637
% 40.909090909090914
% 45.45454545454545
% 50.0
% 54.54545454545454
% 59.09090909090909
% 63.63636363636363
% 68.18181818181817
% 72.72727272727273
% 77.27272727272727
% 81.81818181818183
% 86.36363636363636
% 90.9090909090909
% 95.45454545454545
the length of the city_df is 22
Wall time: 3.83 s

          currentStopName    latitude  longitude
0      Kloten, Kirchgasse  47.4523659  8.5833335
1        Zürich, Grünwald  47.5787319  8.6805981
2         Zürich, Altried   47.406084  8.5914363
3  Zürich, Geeringstrasse  47.4144993  8.4805919
4      Opfikon, Austrasse   47.422915  8.5743317

In [17]:
# change the data type of "latitude" and "longitude" columns from string to float
city_df["latitude"] = city_df["latitude"].astype(float)
city_df["longitude"] = city_df["longitude"].astype(float)

In [18]:
# Show the rows where "latitude" and "longitude" could not be found.  
city_df[city_df["latitude"].isnull()].head()

Empty DataFrame
Columns: [currentStopName, latitude, longitude]
Index: []

In [19]:
# Switzerland boundaries
lat_min = 45.827413
lat_max = 47.775553
lon_min = 5.952471
lon_max = 10.467563

In [20]:
# list of the stations found out of the country
out_of_country = city_df[(city_df["latitude"]>=lat_max) | (city_df["latitude"]<=lat_min) | \
                            (city_df["longitude"]>=lon_max)| (city_df["longitude"]<=lon_min)]
# take out the index
out_of_country_index = out_of_country.index.to_list()
print ("list of indices need to be corrected:" , out_of_country_index)
out_of_country.head()

list of indices need to be corrected: []

Empty DataFrame
Columns: [currentStopName, latitude, longitude]
Index: []

In [21]:
# here we apply the loop once again over the places where found out of the country of Switzerland 
for idx in out_of_country_index:
    city_df.loc[idx, "latitude"] = np.nan
    city_df.loc[idx, "longitude"] = np.nan
    try:
        new_address = ", ".join(city_df.loc[idx, "currentStopName"].split(", ")[::-1]) + ", swiss" 
        location = geolocator.geocode(new_address, addressdetails=True)
        city_df.at[idx, "latitude"] = location.raw["lat"]
        city_df.at[idx, "longitude"] = location.raw["lon"]
    except:
        pass

In [22]:
# change the data type of "latitude" and "longitude" columns from string to float
city_df["latitude"] = city_df["latitude"].astype(float)
city_df["longitude"] = city_df["longitude"].astype(float)

In [23]:
# Let's see if there are still a place not found by the code
city_df[city_df["latitude"].isnull()].head()

Empty DataFrame
Columns: [currentStopName, latitude, longitude]
Index: []

In [24]:
# here the we merge the city_df and df_indirectEffect
merged_df = pd.merge(left=df_indirectEffect_no_duplication, right=city_df)
merged_df.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge,latitude,longitude
0,0,1557445300,57852.0,16:4:12,T-2,Zürich Oerlikon,SBB_S6_8503105-8503504,18622_003,S_SBB_04321,Zürich Seebach,1,30,left_only,47.412036,8.544317
1,0,1248398200,58667.0,16:17:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8506000,20420_001,S_SBB_05050,Zürich Flughafen,0,30,left_only,47.412036,8.544317
2,0,1060282700,60012.0,16:40:12,T-2,Zürich Oerlikon,SBB_S9_8503125-8503424,18920_002,S_SBB_04557,Glattbrugg,0,30,left_only,47.412036,8.544317
3,0,1086246801,60012.0,16:40:12,T-2,Zürich Oerlikon,SBB_S9_8503125-8503424,18920_002,S_SBB_04557,Glattbrugg,0,30,left_only,47.412036,8.544317
4,0,1373667501,60467.0,16:47:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8503424,20422_002,S_SBB_05052,Zürich Flughafen,0,30,left_only,47.412036,8.544317

In [25]:
# save the "indirectEffect" into a excel file
merged_df.to_excel("indirectEffect_visual.xlsx")

############### Data Analysis #######################

In [29]:
merged_df["category"] = "Red"
merged_df1 = merged_df[["currentStopName", "category",  "latitude","longitude","personId", "triggerType"]]
merged_df1.head()

   currentStopName category   latitude  longitude    personId triggerType
0  Zürich Oerlikon      Red  47.412036   8.544317  1557445300         T-2
1  Zürich Oerlikon      Red  47.412036   8.544317  1248398200         T-2
2  Zürich Oerlikon      Red  47.412036   8.544317  1060282700         T-2
3  Zürich Oerlikon      Red  47.412036   8.544317  1086246801         T-2
4  Zürich Oerlikon      Red  47.412036   8.544317  1373667501         T-2

In [30]:
personId_df = merged_df1.groupby(["personId", "currentStopName","latitude","longitude", "triggerType"]).count()
personId_df.head(10)

                                                                    category
personId  currentStopName          latitude  longitude triggerType
760196600 Zürich Oerlikon          47.412036 8.544317  T-2                 1
775420400 Zürich HB                47.378101 8.539364  T-2                 1
777639500 Zürich HB                47.378101 8.539364  T-2                 1
811642600 Zürich Oerlikon          47.412036 8.544317  T-2                 1
821490400 Kloten, Grindel          47.446593 8.608075  T-2                 3
822365800 Zürich Oerlikon          47.412036 8.544317  T-2                 1
828805500 Opfikon, Austrasse       47.422915 8.574332  T-2                 1
831689601 Winterthur, Hauptbahnhof 47.500300 8.724242  T-2                 2
838164401 Zürich HB                47.378101 8.539364  T-2                 1
865361100 Zürich Oerlikon          47.412036 8.544317  T-2                 1

In [31]:
personId_df.to_excel("indreictEffect_based_number_of_personId.xlsx")

In [32]:
## based on the stops
StopName_df = merged_df1.groupby(["currentStopName","latitude","longitude", "triggerType", "category"]).count()
StopName_df.head(50)

                                                                       personId
currentStopName              latitude  longitude triggerType category
Bassersdorf, Bahnhof         47.438589 8.626316  T-2         Red              3
Kloten, Grindel              47.446593 8.608075  T-2         Red              8
Kloten, Kirchgasse           47.452366 8.583334  T-2         Red             16
Oberglatt ZH, Pistenende     47.483485 8.527691  T-2         Red              2
Opfikon, Austrasse           47.422915 8.574332  T-2         Red              1
Regensdorf-Watt, Bahnhof     47.436400 8.472265  T-2         Red              1
Wallisellen, Bahnhof         47.412625 8.592380  T-2         Red              5
Wallisellen, Belair          47.413459 8.584331  T-2         Red              2
Wetzikon ZH, Bahnhof         47.318093 8.792266  T-2         Red              2
Winterthur, Hauptbahnhof     47.500300 8.724242  T-2         Red              2
Winterthur, Museumstrasse/HB 47.501367 8.725089  T-2         Red              1
Winterthur, Technikum        47.497713 8.729003  T-2         Red              2
Zürich HB                    47.378101 8.539364  T-2         Red             12
Zürich Hardbrücke, Bahnhof   47.385161 8.517393  T-2         Red              2
Zürich Oerlikon              47.412036 8.544317  T-2         Red             37
Zürich Oerlikon, Bahnhof     47.411499 8.544151  T-2         Red              5
Zürich Wiedikon, Bahnhof     47.371712 8.523065  T-2         Red              2
Zürich, Altried              47.406084 8.591436  T-2         Red              4
Zürich, Geeringstrasse       47.414499 8.480592  T-2         Red              2
Zürich, Grünwald             47.578732 8.680598  T-2         Red              2
Zürich, Seebacherplatz       47.419240 8.547786  T-2         Red              4
Zürich, Zwinglihaus          47.371778 8.515259  T-2         Red              8

In [33]:
StopName_df.to_excel("only_T2_indirectEffect_basedon_Station.xlsx")

### The End