### Finding coordinates of from Replan 1 and Replan 2 immediate Inforamtion

###### In this project:
- First of all, we read two databases. 
- Then, merge both of them with indicator to see which common rows between two databses. 
- Then, individual "currentStopName" finds.
- The coordinations (latitude and longitude) of these individual "currentStopName"s are found. 
- Then it will be checked to see whether all the coordinations have been found in Switzerland.
- Afterwards, the coordidations of each city will be merged with the master file which is "indirectEffect" dataframe. 
- Finally, the number of repitition time count for each individual "currentStopName. 

###### To run the code, please follow the following steps:
- Click on "Kernel" in the menu bar
- Select "Restart & Run All" 
- Hold on untill a number assigns to each cell.

In [1]:
# library
import pandas as pd
import numpy as np
#import googlemaps
from geopy.geocoders import Nominatim

In [2]:
# the name of the app (no need to change)
geolocator = Nominatim(user_agent="defultName")

In [3]:
# read the replan.txt (read the first database and filter "T-2" from TriggerType column)
df1 = pd.read_csv("replan_Immediate_information.txt",sep="\t", error_bad_lines=False, index_col =None)
#replan_Immediate_information
df1 = df1[df1["triggerType"]=="T-2"]
len(df1)
df1.head()

/Users/M.H/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit
0,0,1394529300,57600.0,16:0:0,T-2,"Zürich, Einfangstrasse",VBZ_line62,15661_080,NFB_VBZ_140751,"Zürich, Zehntenhausplatz",1,1
1,0,1152035700,57600.0,16:0:0,T-2,"Zürich, Klusplatz",VBZ_line703,23724_001,NFB_VBZ_142004,"Zürich, Carl-Spitteler-Strasse",1,1
2,0,1613689101,57600.0,16:0:0,T-2,"Zürich, Lerchenhalde",VBZ_line80,06342_167,NFB_VBZ_138485,"Zürich, Schumacherweg",1,1
3,0,1016616800,57600.0,16:0:0,T-2,"Mellingen Heitersberg, Bahnhof",PAG_line362,36202_038,BUS_PAG_95481,"Mellingen, Meierhofer",1,1
5,0,919327800,57606.0,16:0:6,T-2,"Zürich, Klusplatz",VBZ_line33,00881_001,NFB_VBZ_137778,"Zürich, Hölderlinsteig",1,1

In [4]:
# read the replan.nodisruption.txt (Read the second databae)
df2 = pd.read_csv("replan_replan_when_boardingDenied.txt",sep="\t", error_bad_lines=False, index_col =None)
len(df2)
df2.head()

/Users/M.H/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit
0,0,1394529300,57600.0,16:0:0,T-2,"Zürich, Einfangstrasse",VBZ_line62,15661_080,NFB_VBZ_140751,"Zürich, Zehntenhausplatz",1,1
1,0,1152035700,57600.0,16:0:0,T-2,"Zürich, Klusplatz",VBZ_line703,23724_001,NFB_VBZ_142004,"Zürich, Carl-Spitteler-Strasse",1,1
2,0,1016616800,57600.0,16:0:0,T-2,"Mellingen Heitersberg, Bahnhof",PAG_line362,36202_038,BUS_PAG_95481,"Mellingen, Meierhofer",1,1
3,0,1613689101,57600.0,16:0:0,T-2,"Zürich, Lerchenhalde",VBZ_line80,06342_167,NFB_VBZ_138485,"Zürich, Schumacherweg",1,1
4,0,919327800,57606.0,16:0:6,T-2,"Zürich, Klusplatz",VBZ_line33,00881_001,NFB_VBZ_137778,"Zürich, Hölderlinsteig",1,1

In [5]:
# merged the two database with indicators demoestrating which row belongs to which database
df3 = pd.merge(df1,df2, how='outer', indicator=True)
len(df3)
df3.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
0,0,1394529300,57600.0,16:0:0,T-2,"Zürich, Einfangstrasse",VBZ_line62,15661_080,NFB_VBZ_140751,"Zürich, Zehntenhausplatz",1,1,both
1,0,1152035700,57600.0,16:0:0,T-2,"Zürich, Klusplatz",VBZ_line703,23724_001,NFB_VBZ_142004,"Zürich, Carl-Spitteler-Strasse",1,1,both
2,0,1613689101,57600.0,16:0:0,T-2,"Zürich, Lerchenhalde",VBZ_line80,06342_167,NFB_VBZ_138485,"Zürich, Schumacherweg",1,1,both
3,0,1016616800,57600.0,16:0:0,T-2,"Mellingen Heitersberg, Bahnhof",PAG_line362,36202_038,BUS_PAG_95481,"Mellingen, Meierhofer",1,1,both
4,0,919327800,57606.0,16:0:6,T-2,"Zürich, Klusplatz",VBZ_line33,00881_001,NFB_VBZ_137778,"Zürich, Hölderlinsteig",1,1,both

In [6]:
# Filter the merged databse into two database, indirecedEffect and Tocheck databases.
df_indirectEffect = df3[df3["_merge"]=="left_only"]
df_indirectEffect.to_excel("indirectEffect_Immediate_information.xlsx")
df_indirectEffect.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
20,0,813741000,57790.0,16:3:10,T-2,"Zürich, Rautistrasse",VBZ_line78,23657_096,NFB_VBZ_142811,"Zürich, Lindenplatz",1,1,left_only
24,0,877229300,57851.0,16:4:11,T-2,"Zürich, Untermoosstrasse",VBZ_line67,06271_001,NFB_VBZ_138867,"Zürich, Albisriederdörfli",1,1,left_only
25,0,1557445300,57852.0,16:4:12,T-2,Zürich Oerlikon,SBB_S6_8503105-8503504,18622_003,S_SBB_04321,Zürich Seebach,0,30,left_only
26,0,877229300,57900.0,16:5:0,T-2,"Zürich, Untermoosstrasse",VBZ_line67,06271_001,NFB_VBZ_138867,"Zürich, Albisriederdörfli",1,1,left_only
82,0,1248398200,58667.0,16:17:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8506000,20420_001,S_SBB_05050,Zürich Flughafen,0,30,left_only

In [7]:
len(df_indirectEffect)

185

In [8]:
# Filter the merged databse into two database, indirecedEffect and Tocheck databases.
df_to_check = df3[df3["_merge"]=="right_only"]
df_to_check.to_excel("to_check_Immediate_information.xlsx")
df_to_check.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
1559,0,1491268300,59894.0,16:38:14,T-2,"Schwerzenbach ZH, Dorf",VBZ_line704,30235_067,NFB_VBZ_142999,"Fällanden, Industrie",1,1,right_only
1560,0,1065725701,59943.0,16:39:3,T-2,"Stettbach, Bahnhof",VBZ_line743,24020_009,NFB_VBZ_141986,"Dübendorf, Hoffnung",1,1,right_only
1561,0,1065725701,60000.0,16:40:0,T-2,"Stettbach, Bahnhof",VBZ_line743,24020_009,NFB_VBZ_141986,"Dübendorf, Hoffnung",1,1,right_only
1562,0,1491268300,60000.0,16:40:0,T-2,"Schwerzenbach ZH, Dorf",VBZ_line704,30235_067,NFB_VBZ_142999,"Fällanden, Industrie",1,1,right_only
1563,0,1374678600,60180.0,16:43:0,T-2,"Zürich, Albisriederplatz",VBZ_line72,04444_001,NFB_VBZ_138727,"Zürich, Friedhof Sihlfeld",1,1,right_only

In [9]:
len(df_to_check)

122

In [10]:
df_indirectEffect_no_duplication = df_indirectEffect.drop_duplicates(keep="first").reset_index(drop=True)
print ("the length of the city_df is {}".format(len(df_indirectEffect_no_duplication)))
df_indirectEffect_no_duplication.head()

the length of the city_df is 185

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge
0,0,813741000,57790.0,16:3:10,T-2,"Zürich, Rautistrasse",VBZ_line78,23657_096,NFB_VBZ_142811,"Zürich, Lindenplatz",1,1,left_only
1,0,877229300,57851.0,16:4:11,T-2,"Zürich, Untermoosstrasse",VBZ_line67,06271_001,NFB_VBZ_138867,"Zürich, Albisriederdörfli",1,1,left_only
2,0,1557445300,57852.0,16:4:12,T-2,Zürich Oerlikon,SBB_S6_8503105-8503504,18622_003,S_SBB_04321,Zürich Seebach,0,30,left_only
3,0,877229300,57900.0,16:5:0,T-2,"Zürich, Untermoosstrasse",VBZ_line67,06271_001,NFB_VBZ_138867,"Zürich, Albisriederdörfli",1,1,left_only
4,0,1248398200,58667.0,16:17:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8506000,20420_001,S_SBB_05050,Zürich Flughafen,0,30,left_only

In [11]:
# find the indivisual "currentStopName" and remove the repitition
city_list = list(set(df_indirectEffect_no_duplication["currentStopName"].to_list()))
city_df = pd.DataFrame(city_list, columns =['currentStopName'])
print ("the length of the city_df is {}".format(len(city_df)))
city_df.head()

the length of the city_df is 37

              currentStopName
0            Zürich Wipkingen
1        Zürich, Bucheggplatz
2        Zürich, Neuaffoltern
3  Zürich Hardbrücke, Bahnhof
4    Zürich, Regensbergbrücke

In [12]:
%%time
# expand the city_df dataframe by finding the coordination of each "currentStopName"
city_df["latitude"] = None
city_df["longitude"] = None

for idx in range(len(city_df)):
    try:
        address = city_df["currentStopName"][idx] 
        location = geolocator.geocode(address, addressdetails=True)
        city_df.at[idx, "latitude"] = location.raw["lat"]
        city_df.at[idx, "longitude"] = location.raw["lon"]
    except:
        address = city_df["currentStopName"][idx].split(", ")[0] + ", switzerland"
        try:
            location = geolocator.geocode(address, addressdetails=True)
            city_df.at[idx, "latitude"] = location.raw["lat"]
            city_df.at[idx, "longitude"] = location.raw["lon"]
        except:
            address = city_df["currentStopName"][idx].split(", ")[0] + ", ch"
            try:
                location = geolocator.geocode(address, addressdetails=True)
                city_df.at[idx, "latitude"] = location.raw["lat"]
                city_df.at[idx, "longitude"] = location.raw["lon"]
            except:
                pass         
    finally:
        print ("% " + str(idx/len(city_df) * 100))
print ("the length of the city_df is {}".format(len(city_df)))
city_df.head()

% 0.0
% 2.7027027027027026
% 5.405405405405405
% 8.108108108108109
% 10.81081081081081
% 13.513513513513514
% 16.216216216216218
% 18.91891891891892
% 21.62162162162162
% 24.324324324324326
% 27.027027027027028
% 29.72972972972973
% 32.432432432432435
% 35.13513513513514
% 37.83783783783784
% 40.54054054054054
% 43.24324324324324
% 45.94594594594595
% 48.64864864864865
% 51.35135135135135
% 54.054054054054056
% 56.75675675675676
% 59.45945945945946
% 62.16216216216216
% 64.86486486486487
% 67.56756756756756
% 70.27027027027027
% 72.97297297297297
% 75.67567567567568
% 78.37837837837837
% 81.08108108108108
% 83.78378378378379
% 86.48648648648648
% 89.1891891891892
% 91.8918918918919
% 94.5945945945946
% 97.2972972972973
the length of the city_df is 37
CPU times: user 592 ms, sys: 88.6 ms, total: 681 ms
Wall time: 18.5 s

              currentStopName    latitude  longitude
0            Zürich Wipkingen  47.3930555  8.5293157
1        Zürich, Bucheggplatz  47.3987752  8.5329546
2        Zürich, Neuaffoltern  47.4122821  8.5241459
3  Zürich Hardbrücke, Bahnhof  47.3851609  8.5173926
4    Zürich, Regensbergbrücke  47.4091223  8.5390837

In [13]:
# change the data type of "latitude" and "longitude" columns from string to float
city_df["latitude"] = city_df["latitude"].astype(float)
city_df["longitude"] = city_df["longitude"].astype(float)

In [14]:
# Show the rows where "latitude" and "longitude" could not be found.  
city_df[city_df["latitude"].isnull()].head()

Empty DataFrame
Columns: [currentStopName, latitude, longitude]
Index: []

In [15]:
# Switzerland boundaries
lat_min = 45.827413
lat_max = 47.775553
lon_min = 5.952471
lon_max = 10.467563

In [16]:
# list of the stations found out of the country
out_of_country = city_df[(city_df["latitude"]>=lat_max) | (city_df["latitude"]<=lat_min) | \
                            (city_df["longitude"]>=lon_max)| (city_df["longitude"]<=lon_min)]
# take out the index
out_of_country_index = out_of_country.index.to_list()
print ("list of indices need to be corrected:" , out_of_country_index)
out_of_country.head()

list of indices need to be corrected: []

Empty DataFrame
Columns: [currentStopName, latitude, longitude]
Index: []

In [17]:
# here we apply the loop once again over the places where found out of the country of Switzerland 
for idx in out_of_country_index:
    city_df.loc[idx, "latitude"] = np.nan
    city_df.loc[idx, "longitude"] = np.nan
    try:
        new_address = ", ".join(city_df.loc[idx, "currentStopName"].split(", ")[::-1]) + ", swiss" 
        location = geolocator.geocode(new_address, addressdetails=True)
        city_df.at[idx, "latitude"] = location.raw["lat"]
        city_df.at[idx, "longitude"] = location.raw["lon"]
    except:
        pass

In [18]:
# change the data type of "latitude" and "longitude" columns from string to float
city_df["latitude"] = city_df["latitude"].astype(float)
city_df["longitude"] = city_df["longitude"].astype(float)

In [19]:
# Let's see if there are still a place not found by the code
city_df[city_df["latitude"].isnull()].head()

Empty DataFrame
Columns: [currentStopName, latitude, longitude]
Index: []

In [20]:
# here the we merge the city_df and df_indirectEffect
merged_df = pd.merge(left=df_indirectEffect_no_duplication, right=city_df)
merged_df.head()

,iteration,personId,time,OutTime,triggerType,currentStopName,transitLine,transitRoute,vehicle,nextStopName,passengersSize,passengerCapacit,_merge,latitude,longitude
0,0,813741000,57790.0,16:3:10,T-2,"Zürich, Rautistrasse",VBZ_line78,23657_096,NFB_VBZ_142811,"Zürich, Lindenplatz",1,1,left_only,47.382202,8.488344
1,0,877229300,57851.0,16:4:11,T-2,"Zürich, Untermoosstrasse",VBZ_line67,06271_001,NFB_VBZ_138867,"Zürich, Albisriederdörfli",1,1,left_only,47.378794,8.482248
2,0,877229300,57900.0,16:5:0,T-2,"Zürich, Untermoosstrasse",VBZ_line67,06271_001,NFB_VBZ_138867,"Zürich, Albisriederdörfli",1,1,left_only,47.378794,8.482248
3,0,1557445300,57852.0,16:4:12,T-2,Zürich Oerlikon,SBB_S6_8503105-8503504,18622_003,S_SBB_04321,Zürich Seebach,0,30,left_only,47.411499,8.544151
4,0,1248398200,58667.0,16:17:47,T-2,Zürich Oerlikon,SBB_S24_8502204-8506000,20420_001,S_SBB_05050,Zürich Flughafen,0,30,left_only,47.411499,8.544151

In [21]:
# save the "indirectEffect" into a excel file
merged_df.to_excel("indirectEffect_visual_Immediate_information_Immediate_information.xlsx")

############### Data Analysis #######################

In [22]:
merged_df["category"] = "Red"
merged_df1 = merged_df[["currentStopName", "category",  "latitude","longitude","personId", "triggerType"]]
merged_df1.head()

,currentStopName,category,latitude,longitude,personId,triggerType
0,"Zürich, Rautistrasse",Red,47.382202,8.488344,813741000,T-2
1,"Zürich, Untermoosstrasse",Red,47.378794,8.482248,877229300,T-2
2,"Zürich, Untermoosstrasse",Red,47.378794,8.482248,877229300,T-2
3,Zürich Oerlikon,Red,47.411499,8.544151,1557445300,T-2
4,Zürich Oerlikon,Red,47.411499,8.544151,1248398200,T-2

In [23]:
personId_df = merged_df1.groupby(["personId", "currentStopName","latitude","longitude", "triggerType"]).count()
personId_df.head(10)

                                                                  category
personId  currentStopName        latitude  longitude triggerType
760196600 Zürich Oerlikon        47.411499 8.544151  T-2                 1
775420400 Zürich HB              47.378101 8.539364  T-2                 1
777639500 Zürich HB              47.378101 8.539364  T-2                 1
797580500 Zürich, Waidbadstrasse 47.401518 8.517542  T-2                 1
811642600 Zürich Oerlikon        47.411499 8.544151  T-2                 1
813741000 Zürich, Rautistrasse   47.382202 8.488344  T-2                 1
821428300 Zürich, Butzenstrasse  47.341162 8.530333  T-2                 4
822365800 Zürich Oerlikon        47.411499 8.544151  T-2                 1
828805500 Opfikon, Austrasse     47.422915 8.574332  T-2                 1
833785000 Zürich Oerlikon        47.411499 8.544151  T-2                 1

In [24]:
personId_df.to_excel("indreictEffect_based_number_of_personId.xlsx")

In [25]:
## based on the stops
StopName_df = merged_df1.groupby(["currentStopName","latitude","longitude", "triggerType", "category"]).count()
StopName_df.head(50)

                                                                        personId
currentStopName               latitude  longitude triggerType category
Dübendorf, Meiershofstrasse   47.396767 8.612815  T-2         Red              2
Glattbrugg, Frohbühlstrasse   47.428066 8.557114  T-2         Red              2
Opfikon, Austrasse            47.422915 8.574332  T-2         Red              1
Wallisellen, Bahnhof          47.412625 8.592380  T-2         Red              3
Winterthur, Museumstrasse/HB  47.500982 8.724979  T-2         Red              1
Zürich Flughafen, Fracht      47.453428 8.568171  T-2         Red              1
Zürich HB                     47.378101 8.539364  T-2         Red             13
Zürich Hardbrücke             47.385161 8.517393  T-2         Red              1
Zürich Hardbrücke, Bahnhof    47.385161 8.517393  T-2         Red              5
Zürich Oerlikon               47.411499 8.544151  T-2         Red             39
Zürich Oerlikon, Bahnhof      47.411499 8.544151  T-2         Red              2
Zürich Wipkingen              47.393056 8.529316  T-2         Red              1
Zürich, Albisriederplatz      47.378362 8.510482  T-2         Red              1
Zürich, Altried               47.406084 8.591436  T-2         Red              4
Zürich, Bucheggplatz          47.398775 8.532955  T-2         Red              6
Zürich, Butzenstrasse         47.341162 8.530333  T-2         Red              4
Zürich, Escher-Wyss-Platz     47.391117 8.522854  T-2         Red              8
Zürich, Ettenfeld             47.425717 8.554124  T-2         Red              2
Zürich, Friedhof Sihlfeld     47.374850 8.508187  T-2         Red              1
Zürich, Geeringstrasse        47.415223 8.478326  T-2         Red             10
Zürich, Im Gut                47.373622 8.503050  T-2         Red              2
Zürich, Lehenstrasse          47.396237 8.520372  T-2         Red              1
Zürich, Neuaffoltern          47.412282 8.524146  T-2         Red              2
Zürich, Radiostudio           47.402225 8.535251  T-2         Red              4
Zürich, Rautistrasse          47.382202 8.488344  T-2         Red              1
Zürich, Regensbergbrücke      47.409122 8.539084  T-2         Red             12
Zürich, Rosengartenstrasse    47.454650 8.436687  T-2         Red              4
Zürich, Schaufelbergerstrasse 47.371851 8.502608  T-2         Red              1
Zürich, Schiffbau             47.388343 8.520034  T-2         Red             31
Zürich, Segantinistrasse      47.408232 8.490353  T-2         Red              2
Zürich, Seilbahn Rigiblick    47.385948 8.548418  T-2         Red              6
Zürich, Stauffacher           47.373578 8.530143  T-2         Red              2
Zürich, Sternen Oerlikon      47.410196 8.546805  T-2         Red              3
Zürich, Untermoosstrasse      47.378794 8.482248  T-2         Red              2
Zürich, Waidbadstrasse        47.401518 8.517542  T-2         Red              1
Zürich, Wieslergasse          47.402985 8.496086  T-2         Red              1
Zürich, Zwinglihaus           47.371776 8.515268  T-2         Red              3

In [26]:
StopName_df.to_excel("only_T2_indirectEffect_basedon_Station_Immediate_information.xlsx")

### The End